$light-blue: #38AEF0;
$light-gray: #2f3e51;
$dark-gray: #253141;
$side-text: #ffffff;
$chat-main-text: #434a54;
$chat-sub-text: #999999;
$chat-group-text: #333333;
$chat-background-color: #fafafa;
$white: #fff;
$alert_orange: #F35500;