.notification {

  .notice {
    background-color: $light-blue;
    width: 100vw;
    text-align: center;
    color:$white;
  }  //notice

  .alert {
    background-color: $alert-orange;
    color: $white;
    text-align: center;
  }  //alert

}  //notification
